@using ViewModeldemo.Models
@{
    ViewBag.Title = "Index";



}

<h2>Index</h2>


<h1>@ViewBag.msg</h1>

@foreach (var item in @ViewBag.strList)
{
    <h1>@item</h1>
}



<hr />
<table class="table table-bordered">
    <tr>
        <th>Custid</th>
        <th>Custname</th>
        <th>City</th>
    </tr>
    @foreach (var item in @ViewBag.customers)
    {
<tr>

    <td>@item.Custid</td>
    <td>@item.Custname</td>
    <td>@item.City</td>

</tr>
    }
</table>